<header class="s-header header">
    <div class="header__logo">
        <a class="logo" href="/">
            <img src="/img/logo.svg" alt="Homepage">
        </a>
    </div>
    <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
    <nav class="header__nav-wrap">
        <h2 class="header__nav-heading h6">Navigate to</h2>
        <ul class="header__nav">
            <li class="current"><a href="/" title="">Home</a></li>
            <li class="has-children">
                <a href="#0" title="">Categories</a>
                <ul class="sub-menu">
                    <% myData.forEach((category) => { %>
                    <li><a href="/category/<%= category.slug %>"><%= category.name%></a></li>
                    <% }) %>
                </ul>
            </li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about" title="">About</a></li>
            <li><a href="/contact" title="">Contact</a></li>
        </ul>
     
    </nav>
</header>