.delete-file {
    position: absolute;
    top: 0;
    right: 0;
  }

  .bold {
    font-weight: bold;
  }

  .capitalize {
    text-transform: capitalize;
  }
  
  .ck-editor__editable {
    height: 300px;
  }

  .blog-cover-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }

  .content-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }

  .blog-title {
    border: 2px red solid;
    padding: 20px;
    border-radius: 15px;
  }

  .blog-edit-content-div {
    border: 2px blue solid;
    padding: 20px;
    border-radius: 15px;
  }

  .remove-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px red solid;
    border-radius: 10px;
}

.remove-image-btn:hover {
    color: darkred;
}