<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/admin/profile">
      <span class="align-middle"></span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/admin/category">
          <i class="fa fa-folder-open"></i><span class="align-middle">Categories</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseUsers" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="fas fa-handshake"></i><span class="align-middle">Users</span>
        </a>
        <div class="collapse ms-3" id="collapseUsers">
          <a class="sidebar-link" href="/admin/user">
            <i class="fas fa-th"></i> <span class="align-middle">All Users</span>
          </a>
          <% if (user.is_primary == 1 ) { %>
          <a class="sidebar-link" href="/admin/user/add">
            <i class="fas fa-plus"></i> <span class="align-middle">Add User</span>
          </a>
          <% } %>
        </div>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseBlogs" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="fas fa-handshake"></i><span class="align-middle">Blogs</span>
        </a>
        <div class="collapse ms-3" id="collapseBlogs">
          <a class="sidebar-link" href="/admin/blog">
            <i class="fas fa-th"></i> <span class="align-middle">All Blogs</span>
          </a>
          <a class="sidebar-link" href="/admin/blog/add">
            <i class="fas fa-plus"></i> <span class="align-middle">Add Blog</span>
          </a>
        </div>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/admin/comment/posts">
          <i class="fa fa-folder-open"></i><span class="align-middle">Comments</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/admin/gallery">
          <i class="fa fa-folder-open"></i><span class="align-middle">Gallery</span>
        </a>
      </li>

    </ul>

  </div>
</nav>

<div class="main">