<%- include('../partials/head' , { title: 'Contact' }) %>
    <%- include('../partials/header') %>

        <section class="s-content s-content--top-padding s-content--narrow">
            <div class="row narrow">
                <div class="col-full s-content__header">
                    <h1 class="display-1 display-1--with-line-sep">Contact Us.</h1>
                    <p class="lead">
                        Get in touch with us! We'd love to hear your thoughts and answer any questions you may have. Please fill out the form below or send us an email, and we'll get back to you as soon as possible. Thank you for visiting our website!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-full s-content__main">
                    <p>
                        <img src="images/thumbs/contact/contact-1000.jpg" srcset="images/thumbs/contact/contact-2000.jpg 2000w, 
                                 images/thumbs/contact/contact-1000.jpg 1000w, 
                                 images/thumbs/contact/contact-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px"
                            alt="">
                    </p>
                    <h2>Say Hello</h2>
                    <p>
                        Thank you for visiting our website! We're excited to hear from you and welcome your feedback, questions, and comments. If you have any inquiries regarding our blog posts, software recommendations, or travel experiences, please don't hesitate to reach out. We strive to provide helpful and informative content to our readers, and we're always looking for ways to improve. Your input is important to us, so please feel free to contact us using the form below or via email. We'll do our best to respond to your message in a timely manner. Thanks again for your interest in our website, and we look forward to hearing from you!
                    </p>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.5489304129846!2d19.109016876893396!3d50.82099546061434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710b5d56e25258f%3A0xa2fad37e74db368a!2sCz%C4%99stochowa%20University%20of%20Technology!5e0!3m2!1sen!2str!4v1682795823711!5m2!1sen!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="row">
                        <div class="col-six tab-full">
                            <h4>Where to Find Us</h4>
                            <p>Czestochowa / POLAND</p>
                        </div>
                        <div class="col-six tab-full">
                            <h4>Contact Info</h4>
                            <p>
                                <% users.forEach((user) => { %>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="2655475f4e434a4a496651495442554b4f524e0845494b"><%= user.email %>
                                </a>
                                <br>
                                <% })%>
                            </p>
                        </div>
                    </div>
                    <h4>Get In Touch</h4>
                    <form id="contact-form" class="contact-form" method="post" action="/contact">
                        <fieldset>
                            <div>
                                <input name="name" id="cName" class="full-width" placeholder="Your Name*" value="" required
                                    type="text">
                            </div>
                            <div class="form-field">
                                <input name="email" id="cEmail" class="full-width" placeholder="Your Email*" value="" required
                                    type="text">
                            </div>
                            <div class="message form-field">
                                <textarea required name="message" id="cMessage" class="full-width"
                                    placeholder="Your Message*"></textarea>
                            </div>
                            <button type="submit" class="submit btn btn--primary btn--large full-width contact-button">Send
                                Message</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>

<%- include('../partials/footer') %>